Hello,

You have forgotten the password in Toolmen Lab.

Here are your account name: {{name}}
and your new password: {{password}}

Have a good time for training your models on our servers.

Remeber to join the Facebook messager group to get notification.

Good luck!

Sincerely,
Toolmen Server Admin, linnil1
