{% extends 'base.html' %}

{% block title %}
queue
{% endblock %}

{% block head %} {% endblock %}

{% block body %}
{% include 'nav.html' %}
  <div class="container" id="app">
    <form action="{{ url_for('labboxmain.box_models.queue')}}" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Your command</span>
      </div>
      <input type="text" class="form-control" name="command" placeholder="echo 123"/>

      <div class="input-group-append">
        <select class="form-control" name="image">
        {% for image in create_images %}
          <option> {{image}} </option>
        {% endfor %}
        </select>
      </div>

      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-primary"/>Submit Command</button>
      </div>
      <!--a class="btn btn-outline-primary" onClick="window.location.href='url'"><i class="fas fa-sync"></i></a-->
    </div>
    </form>
  {% raw %}
    <input type="checkbox" v-model="auto_refresh">
    <label for="sync">Auto Refresh</label>

    <table class="table table-striped">
      <tbody>
        <template v-for="data in queue" :key="data.name">
          <tr>
            <th scope="row"> {{ data.name }} </th>
            <td><button class="btn btn-primary" type="button" v-on:click="syncClick(data.name)"
                        v-bind:disabled="!data.permit">Log</button></td>
            <td><span v-if="data.permit"> {{ data.command }} </span></td>
            <td> {{ data.user }}  </td>
            <td> {{ data.image }} </td>
            <td> {{ data.date }}  </td>
            <td      v-if="data.status == 'InQueue'">  <i class="fas fa-spinner"></i>            Waiting </td>
            <td v-else-if="data.status == 'Running'">  <i class="fas fa-spinner fa-spin"></i>    Running </td>
            <td v-else-if="data.status == 'Complete'"> <i class="fas fa-thumbs-up"></i>         Complete </td>
            <td v-else>                                <i class="fas fa-exclamation-triangle"></i> Error </td>
            <td>
              <form v-bind:action="api_delete" method="post">
                <input type="hidden"   name="name"     v-bind:value="data.name"/>
                <div class="btn-group" role="group">
                  <input type="submit" name="method" value="Delete" class="btn btn-outline-danger"/
                      v-bind:disabled="!data.permit"/>
                </div>
              </form>
            </td>

          </tr>
          <tr v-if="tmp && enable_log[data.name]">
            <td colspan="8">
              <table class="table">
                <thead><tr>
                    <th v-for="(item, key) in logs[data.name]" v-if="key !== 'log'"> {{ key }} </th>
                </tr></thead>
                <tbody><tr>
                    <td v-for="(item, key) in logs[data.name]" v-if="key !== 'log'"> {{ item }} </td>
                </tr></tbody>
              </table>
              <pre><code> {{ logs[data.name].log }} </code></pre>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  {% endraw %}

  <script>
var app = new Vue({
  el: '#app',
  data: {
      queue: [],
      api_delete: "{{ url_for('labboxmain.box_models.queueDelete')}}",
      logs: {},
      enable_log: {},
      auto_refresh: true,
      tmp: true,
  },
  watch: {
    queue: function() {
      this.queue.forEach((data) => {
        if (!(data.name in this.enable_log)) {
          this.enable_log[data.name] = false;
        }
      });
    }
  },
  methods: {
    update_queue: function() {
      axios.get("{{ url_for('labboxmain.box_models.queue_status')}}")
           .then(response => {this.queue = response.data.data;})
    },
    update_log: function(id) {
      axios.post("{{ url_for('labboxmain.box_models.log')}}", "name=" + id)
           .then(response => {this.$set(this.logs, id, response.data);})
    },
    syncClick: function(name) {
      this.$set(this.enable_log, name, !this.enable_log[name]);
      this.tmp = false;
      this.tmp = true;
      console.log(name);
      if (this.enable_log[name]) {
        console.log(name);
        this.update_log(name);
      };
    },
  },
  mounted() {
    this.update_queue();
    window.setInterval(() => {
      if (!this.auto_refresh) {
        return;
      }
      this.update_queue();
      for (var name in this.enable_log) {
        if (this.enable_log[name]) {
          console.log("Update log", name);
          this.update_log(name);
        }
      }
    }, 3000)
  }
})
</script>
{% endblock %}
