{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 login-container">
      <div class="form-login">
        <h4>Welcome to {{ config.name }} !</h4>
        <form action="{{ url_for('labboxmain.routes.Login', next=request.args.get('next')) }}" method="post">
          <input type="text"     name="username"     placeholder="username"
                 class="form-control input-sm chat-input"/></br>
          <input type="password" name="password" placeholder="password"
                 class="form-control input-sm chat-input"/></br>
          <div class="wrapper">
            <span class="group-btn">
              <input type="submit" value="login" class="btn btn-primary btn-md"/>
            </span>
          </div>
        </form>
      </div>
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block head %}
<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.login-container {
  max-width: 35em;
  padding: 25px;
  position: fixed;
}

.form-login {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}
</style>
{% endblock %}
